#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:sys.boot_completed=1

# Dynamically set IRQ affinity for KGSL and DRM
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.xiaomi_garnet.sh

